<!-- app/templates/home/flight_details.html -->

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Select Flight{% endblock %}
{% block body %}

<script type="text/javascript">
$(function() {
    $("#flight_id").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('home.autocomplete')}}",{
                q: request.term, // in flask, "q" will be the argument to look for using request.args
            }, function(data) {
                response(data.result);
            });
        },
        minLength: 2,
        select: function(event, ui) {
            $("#airline").val("")
            $("#from_airport").val("")
            $("#to_airport").val("")
            $("#arrival_time").val("")
            $("#departure_time").val("")

            $.ajax({
                url: "{{url_for('home.get_flight_details')}}",
                type: 'get',
                data: {'q' : ui.item.value},
                success: function(data, status) {
                    if(data == "ok") {
                        console.log("came in")
                    }
                },
            });

            //$.getJSON("{{url_for('home.get_flight_details')}}",{
            //    q: ui.item.value, // in flask, "q" will be the argument to look for using request.args
            //}, function(data) {
            //        response(data.result);
            //    }
            //);
            //console.log(data.result); // not in your question, but might help later
        }
    });
})

</script>

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <h1>Select your Flight</h1>
                <h2 class="subtitle">Enter your Flight No and date to proceed </h2>
                <form class="form-inline signup" role="form">
                    <div class="form-group">
                        {{ wtf.quick_form(form) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}